__pycache__/
*.py[cod]
*.so
.Python
.pytest_cache/
.mypy_cache/
.DS_Store

.idea/
.vscode/

outputs/
logs/
runs/
Model/
RIR/

*.pth
*.pt
*.ckpt
*.pickle
*.npy

!filter_bank.npy
!train/filter_bank.npy
